html,
body {
	padding: 0;
	margin: 0;
	font-family: "Inter", sans-serif;
	background-color: rgb(10, 10, 10);
	color: rgb(255, 255, 255);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
